@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap");


.color1 {
  color: #fd7e14;
}

html {
  scroll-behavior: smooth;
}

.about {
  font-family: "Ibarra Real Nova", serif;
  font-weight: 800;
  font-size: 50px;
  word-spacing: 5px;
}
.about-content {
  margin: 0px 100px 0px 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 400;
}
.hh{
  font-size: 25px;
  
}
.card {
  margin: 25px;
}
.mg1 {
  margin-left: 10px;
}
.mg2 {
  margin-top: 100px;
}
.mg3 {
  margin-left: 33%;
}
.mg4 {
  margin-top: 10px;
}
.mg5 {
  margin-top: 65px;
}
.mg6 {
  margin-top: 18px;
}
.mg7 {
  margin-right: 2%;
}
.mg8 {
  margin-top: 2%;
}
.mg9 {
  margin: 2%;
}
.top {
  height: 75px;
  top: 0;
}
.navbar-brand {
  color: #202b67;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 600;
  font-size: 30px;
  word-spacing: 5px;
}
.navbar {
  z-index: 100;
  position: fixed;
  width: 100%;
  background-color: rgb(143, 143, 143);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  filter: drop-shadow(0px 4px 10px rgb(87, 87, 87));
}
.navbar ul {
  margin: 20px;
  display: flex;
  justify-content: end;
  align-content: center;
  align-items: center;
}
.navbar ul li {
  text-decoration: none;
  list-style-type: none;
}
.navbar ul li a {
  margin: 0px 20px 0px 20px;
  color: #fd7e14;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 600;
  font-size: 20px;
  word-spacing: 5px;
  text-decoration: none;
}
.card-img-top {
  padding: 20px;
}
.img-fluid {
  max-width: 100%;
  height: 100%;
}
.btn {
  width: 160px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.cntcts {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container1 {
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
}
.social {
  width: 50px;
  height: 50px;
  margin: 5px;
}
.social:hover {
  transform: translate(0%, 3%) scale(1);
  color: rgb(255, 255, 255);
  box-shadow: 0px 1px 10px rgb(255, 183, 75);
  border-radius: 100%;
  transition: 0.2s ease-in-out;
}
.cntp {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  font-size: 25px;
  word-spacing: 5px;
}
.cntheading {
  font-family: "ibara";
  font-weight: 800;
  font-size: 40px;
}
.show {
  color: aliceblue;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.show:hover {
  color: #fd7e14;
  transition: ease-in-out 0.2s;
}
.btnwh {
  width: 110px;
  height: 35px;
  background-color: #0d6efd;
  border: none;
  border-radius: 5px;
}
.show1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.show1:hover {
  color: #fd7e14;
  transition: ease-in-out 0.2s;
}
.row {
  flex-direction: row;
  align-items: center;
}
.align {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.links {
  text-decoration: none;
  color: black;
}
.links:hover {
  color: #fd7e14;
}
.webaddress {
  text-decoration: none;
  color: black;
  font-family: "Ibarra Real Nova", serif;
  font-weight: 600;
  font-size: 25px;
  word-spacing: 5px;
}
.nav-link:hover {
  transform: translate(0%, 3%) scale(1.1);
}
.padding {
  padding-top: 8rem;
}
.addrs:hover {
  transform: translate(0%, 2%) scale(1.1);
}
.wid {
  width: 170px;
  height: 200px;
  margin-left: 18%;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}


